<div class="set-7">&nbsp;</div>
<div class="set-5">
  <mat-card class="set-12">
    <form [formGroup]="formGroup" (submit)="signUp(formGroup)">
      <div class="set-12">
        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstname">
          </mat-form-field>
        </div>

        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastname">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput formControlName="email">
      </mat-form-field>

      <div class="set-12">
        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="text" matInput formControlName="phone">
          </mat-form-field>
        </div>

        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>
      </div>

      <div class="set-12 error" *ngIf="error != null">{{error}}</div>

      <div class="set-12 ctrls">
        <button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted">
          <small>Sign me up</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </form>
  </mat-card>
</div>