<div class="set-7">&nbsp;</div>
<div class="set-5">
  <mat-card class="set-12">
    <form [formGroup]="formGroup" (submit)="signIn(formGroup)">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div class="set-12 error" *ngIf="error != null">{{error}}</div>

      <div class="set-12 ctrls">
        <button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted">
          <small>Sign me in</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </form>
  </mat-card>
</div>